.swiper {
  padding: 10px 5px 50px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px !important;
  height: 45px !important;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: 700;
  color: #6f42c1;
}