body {
  background:
    radial-gradient(
      circle at top left,
      rgba(139, 92, 246, 0.35),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(59, 130, 246, 0.30),
      transparent 35%
    ),
    #f8fafc;

  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,255,255,.4) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,.4) 1px,
      transparent 1px
    );

  background-size: 40px 40px;

  pointer-events: none;
  z-index: -1;
}